@model BlutChain.Models.TipoSanguineo

@using (Html.BeginForm("CadastrarTipoSanguineo", "TipoSanguineo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Cadastrar Tipo Sanguíneo</legend>

        <b>Grupo Sanguíneo: </b>
        <br>
        @Html.DropDownList("GrupoSanguineo", new List<SelectListItem>
        {
            new SelectListItem{ Text = "A", Value = "A"},
            new SelectListItem{ Text = "B", Value = "B"},
            new SelectListItem{ Text = "AB", Value = "AB"},
            new SelectListItem{ Text = "O", Value = "O"}
        }, "Selecione o Grupo Sanguíneo")
        <br>
        <br>
        <b>Fator RH: </b>
        <br />
        @Html.DropDownList("FatorRH", new List<SelectListItem>
        {
            new SelectListItem{ Text = "+", Value = "+"},
            new SelectListItem{ Text = "-", Value = "-"}
        }, "Selecione o Fator RH")
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Cadastrar"
                   class="btn btn-primary">
        </div>
    </div>
}
