################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/BlutChain/Content
/BlutChain/fonts
/BlutChain/obj/Debug
/BlutChain/Scripts/esm
/BlutChain/Scripts/umd
/BlutChain/Scripts
