<header id="header" class="alt">

    <h1><img src="~/Content/ViewContent/assets/css/images/Logo.png" width="133px" height="80px" /></h1>

    <nav id="nav">
        <ul>
            <li><a href="/Home/Index">Inicio</a></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                <div class="dropdown-menu dropdown-info" style="background-color:gray">
                    <a class="dropdown-item waves-effect waves-light" href="/Usuario/CadastrarUsuario">Doador</a>
                    <a class="dropdown-item waves-effect waves-light" href="/Hemobanco/CadastrarHemobanco">Hemobanco</a>
                </div>
            </li>

            <li><a href="/Login/Login" class="button">Entrar</a></li>
        </ul>
    </nav>
</header>