<br>
<br>
<br>
<div>
    <a href="Agendamentos">Agendamentos</a>
    <br>
    <a href="HistoricoDoacao">Histórico de Doação</a>
    <br>
    <a href="/Agendamento/RegistrarAgendamento">Efetuar Agendamento</a>
    <br>
    <a href="AlterarUsuario">Alterar Cadastro</a>
</div>

