@using BlutChain.Models
@model Usuario

@{ 
    int dias = ViewBag.Dias;
}

<h2 style="padding-top:70px">Painel do Usuário</h2>
<nav id="nav" style="margin-left:60px">

    @Html.DisplayFor(modelItem => modelItem.NomeUsuario), você doou a @dias dia(s)!

    @if (Model.SexoUsuario.Equals("Feminino") && dias >= 90)
    {
        <p>Salve uma vida! @Html.ActionLink("Agende uma doação", "RegistrarAgendamento", "Agendamento")  no Hemobanco mais próximo de voce... </p>
    }
    @if (Model.SexoUsuario.Equals("Masculino") && dias >= 60)
    {
        <p>Salve uma vida! @Html.ActionLink("Agende uma doação", "RegistrarAgendamento", "Agendamento")  no Hemobanco mais próximo de voce... </p>
    }

    <li><a href="Agendamentos"> Meus Agendamentos</a> </li>

    <li> <a href="HistoricoDoacao">Histórico de Doação</a></li>

    <li> <a href="/Agendamento/RegistrarAgendamento">Efetuar Agendamento</a></li>

    <li><a href="AlterarUsuario">Alterar Cadastro</a></li>
    </ul>
</nav>

