<h2 style="padding-top:70px">Painel do Administrador</h2>
<nav id="nav" style="margin-left:60px">

    <ul>
    <li><a href="/Agendamento/Index"> Gerenciamento de Agendamentos</a> </li>

    <li> <a href="/Hemobanco/Index">Gerenciamento de Hemobancos</a></li>

    <li> <a href="/TipoSanguineo/Index">Gerenciamneto de Tipo Sanguineo</a></li>

    <li><a href="Usuario/Index">Gerenciamento de Usuário</a></li>
    </ul>
</nav>

