<h1>Bem Vindo </h1>

<input type="button" class="btn btn-info" value="Cadastrar Usuário" onclick="location.href='@Url.Action("CadastrarUsuario", "Usuario")'" />
<input type="button" class="btn btn-info" value="Cadastrar Hemobanco" onclick="location.href='@Url.Action("CadastrarHemobanco", "Hemobanco")'" />