<html lang="pt-br">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/ViewContent/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/ViewContent/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/css/fontawesome.min.css" rel="stylesheet" />

</head>
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">BlutChain</a> Logo</h1>
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <!--
                    <li>
                        <a href="#" class="icon fa-angle-down">Layouts</a>
                        <ul>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option One</a></li>
                                    <li><a href="#">Option Two</a></li>
                                    <li><a href="#">Option Three</a></li>
                                    <li><a href="#">Option Four</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                        -->
                    <li><a href="#" class="button">Entrar</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <h2>Seja um Doador</h2>
            <p>Contribua com nosso banco de doadores.</p>
            <ul class="actions special">
                <li><a href="#" class="button primary">Cadastre-se</a></li>
                <li><a href="#" class="button">Saiba mais.</a></li>
            </ul>
        </section>

        <!-- Main -->
        <section id="main" class="container">

            <section class="box special">
                <header class="major">
                    <h2>

                        Introducing the ultimate mobile app
                        <br />
                        for doing stuff with your phone
                    </h2>
                    <p>
                        Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                        adipiscing nunc adipiscing. Condimentum turpis massa.
                    </p>
                </header>
                <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
            </section>

            <section class="box special features">
                <div class="features-row">
                    <section>
                        <span>
                            <img src="~/Content/ViewContent/assets/css/images/Icones/heart.png" width="90" height="90" />
                        </span>
                        <h3>Cuide da Sua Saúde</h3>
                        <p>Faça exercícios, tenha uma boa alimentação, facha check-ups e tenha sempre uma boa saúde, isso pode ajudar você a não precisar de doação e pode te fazer um doador muito mais saldável.</p>
                    </section>

                    <section>
                        <span>
                            <img src="~/Content/ViewContent/assets/css/images/Icones/water.png" width="90" height="90" />
                        </span>
                        <h3>Sangue é Vida</h3>
                        <p>Seu sangue pode salvar muitas vidas. Alguns minutos de doação pode se tornar uma vida inteira de gratidão. </p>
                    </section>

                </div>
                <div class="features-row">
                    <section>
                        <span>
                            <img src="~/Content/ViewContent/assets/css/images/Icones/hospital-4.png" width="90" height="90" />
                        </span>
                        <h3>Procure um Hemocentro</h3>
                        <p>Cadastre-se, acesse nossos serviços e encontre o hemocentro mais proximo para agendar sua doação.</p>
                    </section>

                    <section>
                        <span>
                            <img src="~/Content/ViewContent/assets/css/images/Icones/transfusion.png" width="90" height="90" />
                        </span>
                        <h3>Doe sangue</h3>
                        <p>Muitas vidas são salvas diariamente graças as doações, ser doador é ser um herói da vida real, faça parta desta Super-Liga.</p>
                    </section>
                </div>
            </section>

            <div class="row">
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span>
                            <img src="~/Content/ViewContent/assets/css/images/Icones/report-1.png" width="90" height="90" />
                        </span>
                        <h3>Quem pode Doar</h3>
                        <p>Para ser um doador precisa estar em dia com a sua saúde, conheça outros requisitos básicos para ser um doador.</p>
                        <ul class="actions special">
                            <li><a href="#" class="button alt">Saiba Mais</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span>
                            <img src="~/Content/ViewContent/assets/css/images/Icones/placeholder.png" width="90" height="90" />
                        </span>
                        <h3>Hemocentros</h3>
                        <p>Cadastre-se, localize o mais próximo da sua região e agende sua doação.</p>
                        <ul class="actions special">
                            <li><a href="#" class="button alt">Hemobancos</a></li>
                        </ul>
                    </section>

                </div>
            </div>

        </section>

        <!-- CTA -->
        <section id="cta">

            <h2>SEJA UM HERÓI</h2>
            <p>Doe sangue e salve vidas!</p>

            <form>
                <div class="row gtr-50 gtr-uniform">

                    <div class="col-8 col-12-mobilep">
                        <input type="email" name="email" id="email" placeholder="Email Address" />
                    </div>
                    <div class="col-4 col-12-mobilep">
                        <input type="submit" value="Cadastre-se" class="fit" />
                    </div>
                </div>
            </form>

        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; BlutChain 2019</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->

    <script src="~/Content/ViewContent/assets/js/util.js"></script>
    <script src="~/Content/ViewContent/assets/js/breakpoints.min.js"></script>
    <script src="~/Content/ViewContent/assets/js/browser.min.js"></script>
    <script src="~/Content/ViewContent/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/Content/ViewContent/assets/js/jquery.min.js"></script>
    <script src="~/Content/ViewContent/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/ViewContent/assets/js/main.js"></script>
</body>
</html>