@using BlutChain.Models
@model List<Agendamento>

@{
    DateTime data = ViewBag.Data;
}

<h2>Agendamentos</h2>

<table class="table table-hover table-stripped">
    <tr>
        <th>Doador</th>
        <th>Tipo Sanguíneo</th>
        <th>Data</th>
        <th>Hora</th>
    </tr>

    @foreach (Agendamento agendamento in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => agendamento.UsuarioAgendamento.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => agendamento.UsuarioAgendamento.TipoSanguineoUsuario.GrupoSanguineo)@Html.DisplayFor(modelItem => agendamento.UsuarioAgendamento.TipoSanguineoUsuario.FatorRH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => agendamento.DataAgendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => agendamento.HorarioAgendamento)
            </td>
        </tr>
    }

</table>